# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.__package-name__'
'name': '__PackageName__'
'fileTypes': [
  'extension'
]
'patterns': [
  {
    'match': '^\\s*@@.*$'
    'name': 'comment'
  }
]
