
// Styles
// -------------------

// The ui-variables file is provided by UI themes and available to import.
// For a full listing of what variables are available, see:
// https://github.com/atom/apm/blob/master/templates/theme-ui/styles/ui-variables.less

@import "ui-variables";

.__package-name__ {
  // Your package styles
}
